.dropdown {
    -fx-background-color : white;
    -fx-mark-color : #6EF3D6;
    -fx-border-width : 2;
    -fx-border-color : #6EF3D6;
}
.dropdown > .label{
    -fx-text-fill : #6EF3D6;
    -fx-font-weight : bold;
    -fx-font-family: 'Bai Jamjuree';
}
.dropdown .menu-item:focused{
    -fx-background-color : #C6FCE5;
    -fx-background-radius : 10;
    -fx-font-family: 'Bai Jamjuree';
    -fx-font-weight: bold;
}

.dropdown .menu-item > .label{
    -fx-background-radius : 20;
    -fx-background-width : 111;
    -fx-text-fill : #3D84A8;
    -fx-font-family: 'Bai Jamjuree';
    -fx-font-weight: bold;
}
.dropdown .context-menu{
    -fx-background-radius : 10;
    -fx-pref-width : 111;
    -fx-border-width : 2;
    -fx-border-radius :10;
    -fx-border-color : #6EF3D6;
    -fx-font-family: 'Bai Jamjuree';
}
.dropdown .menu-item:focused > .label{
    -fx-text-fill : #3D84A8;
    -fx-font-family: 'Bai Jamjuree';
}